<div class="row">
  <div class="col-md-8">
    <div class="media">
     <% @comment.each do |comment| %>
      <div class="media-body">
        <%= comment.body %>        
      </div>
     <% end %>
    </div>   
  </div>
</div>







  
